# Razorpay configuration
RAZORPAY_KEY_ID=rzp_test_YourKeyIdHere
RAZORPAY_KEY_SECRET=YourSecretHere

# Gemini AI configuration
GEMINI_API_KEY=YourGeminiApiKeyHere

# Clerk authentication (Frontend and Backend)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_YourClerkPublishableKeyHere
CLERK_SECRET_KEY=sk_test_YourClerkSecretKeyHere

# Vite configurations
VITE_API_URL=http://localhost:8080/api
